#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  margin: 100px auto;
  width: 400px;
  height: 300px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

